
html {
  position: relative;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #2a2a2a;
  background-color: #f3e9f5;
  position: relative;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}


@media screen and (min-width: 1350px) {
  body {
    scroll-snap-type: y mandatory;
  }
  section {
    scroll-snap-align: center;
  }
}
